/*text styling*/
h1{
    text-align: $headerTextAlign;
    font-family: $headerFontFamily;
    font-size: 3em;
    text-shadow: 4px 4px 4px rgb(122, 100, 74);
    color: rgb(33, 28, 13);
}

h2{
    text-align: $headerTextAlign;
    font-family: $headerFontFamily;
    font-size: 2.5em;
    text-shadow: 2px 3px 4px rgb(77, 64, 48);
    color: rgb(33, 28, 13);
}

p{
    text-align: $textTAlign;
    font-family: $textFontFamily;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(28, 24, 19);
}

ol{
    text-align: left;
    font-family: $textFontFamily;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(28, 24, 19);
}

 