//imports for variables and mixins
@import "variables";
@import "mixins";
@import "mixins2";
@import "_textstyle";


//includes the mixin for grid format
@include grid;
@include gridstyle;

 
/*nav bar styling*/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    border: 3px solid  rgb(26, 19, 19);
    margin: 0;
    padding: 1%;
    text-align: center;
}

nav li a{
    text-decoration: none;
    font-family: $textFontFamily;
    font-size: 1em;
    color: rgb(30, 26, 26);
    text-shadow: 2px 3px 4px rgb(77, 64, 48)
}

nav a:hover{
    background-color: rgba(208, 180, 119, 0.666);
}

/*body styling*/
body{
    background-image: url(../style/assets/images/gradientbackground.jpg);
    background-position: center;
    background-attachment: fixed;
}
 
/*img styling*/
img{
    width: 100%;
    height: auto;
    border-radius: 15px 50px;
}