/*grid styling*/
/*grid-item styling*/
/*image styling*/
/*text styling*/
/*text styling*/
h1 {
  text-align: center;
  font-family: "Instrument Serif", serif;
  font-size: 3em;
  text-shadow: 4px 4px 4px rgb(122, 100, 74);
  color: rgb(33, 28, 13);
}

h2 {
  text-align: center;
  font-family: "Instrument Serif", serif;
  font-size: 2.5em;
  text-shadow: 2px 3px 4px rgb(77, 64, 48);
  color: rgb(33, 28, 13);
}

p {
  text-align: center;
  font-family: "Unna", serif;
  font-size: 1.5em;
  line-height: 1.5;
  color: rgb(28, 24, 19);
}

ol {
  text-align: left;
  font-family: "Unna", serif;
  font-size: 1.5em;
  line-height: 1.5;
  color: rgb(28, 24, 19);
}

/*small screen*/
@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(114, 109, 87);
    gap: 12px;
    padding: 14px;
  }
  .grid-item1 {
    grid-column: 1;
    grid-row: 1/1;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item2 {
    grid-column: 1;
    grid-row: 2/3;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
  }
  .grid-item3 {
    grid-column: 1;
    grid-row: 4/5;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item4 {
    grid-column: 1;
    grid-row: 3/4;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item5 {
    grid-column: 1;
    grid-row: 5/6;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item6 {
    grid-column: 1;
    grid-row: 6/7;
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .img1 {
    width: 70%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img2 {
    width: 65%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img3 {
    width: 65%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
/*medium screen*/
@media screen and (min-width: 600px) {
  .grid {
    display: grid;
  }
  .grid-item1 {
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .grid-item2 {
    grid-column: 1/4;
    grid-row: 5;
  }
  .grid-item3 {
    grid-column: 1/4;
    grid-row: 6;
  }
  .grid-item4 {
    grid-column: 1;
    grid-row: 3/4;
  }
  .grid-item5 {
    grid-column: 3;
    grid-row: 3/4;
  }
  .grid-item6 {
    grid-column: 2;
    grid-row: 3/4;
  }
}
/*large screen*/
@media screen and (min-width: 992px) {
  .grid {
    display: grid;
  }
  .grid-item1 {
    grid-column: 1/4;
    grid-row: 1/3;
  }
  .grid-item2 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .grid-item3 {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .grid-item4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-item5 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .grid-item6 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
/*medium screen*/
@media screen and (min-width: 600px) {
  .grid {
    background-color: rgb(145, 144, 95);
    gap: 12px;
    padding: 14px;
  }
  .grid-item1 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item2 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item3 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item4 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item5 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item6 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  /*img styling*/
  .img1 {
    width: 65%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img2 {
    width: 65%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img3 {
    width: 75%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  /* nav bar styling*/
  nav {
    text-align: center;
  }
  nav li {
    display: inline-block;
  }
}
/*large screen*/
@media screen and (min-width: 992px) {
  .grid {
    background-color: rgb(138, 121, 81);
    gap: 12px;
    padding: 14px;
  }
  .grid-item1 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item2 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item3 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item4 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item5 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  .grid-item6 {
    background-color: rgb(211, 199, 152);
    border: 8px solid rgb(26, 19, 19);
    display: block;
    padding: 1.8%;
  }
  /*img styling*/
  .img1 {
    width: 35%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img2 {
    width: 45%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img3 {
    width: 55%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  /* nav bar styling*/
  nav {
    text-align: center;
  }
  nav li {
    display: inline-block;
  }
}
/*nav bar styling*/
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  border: 3px solid rgb(26, 19, 19);
  margin: 0;
  padding: 1%;
  text-align: center;
}

nav li a {
  text-decoration: none;
  font-family: "Unna", serif;
  font-size: 1em;
  color: rgb(30, 26, 26);
  text-shadow: 2px 3px 4px rgb(77, 64, 48);
}

nav a:hover {
  background-color: rgba(208, 180, 119, 0.666);
}

/*body styling*/
body {
  background-image: url(../style/assets/images/gradientbackground.jpg);
  background-position: center;
  background-attachment: fixed;
}

/*img styling*/
img {
  width: 100%;
  height: auto;
  border-radius: 15px 50px;
}/*# sourceMappingURL=main.css.map */