/*grid styling*/
$gridPadding: 14px;
$gridGap: 12px;

/*grid-item styling*/
$griditemBgcolor: rgb(211, 199, 152);
$borderstyle: 8px solid rgb(26, 19, 19);
$griditemDisplay: block;
$griditemPadding: 1.8%;
 
/*image styling*/
$imgMarginLeft: auto;
$imgMarginRight: auto;
$imgDisplay: block;

/*text styling*/
$headerTextAlign: center;
$headerFontFamily: 'Instrument Serif', serif;
$textTAlign: center;
$textFontFamily: 'Unna', serif;