/* requirement: five useful variables */

/* grid styling */
$gridPadding: 12px;
 
/* grid-item styling */
$giBorder: 5px solid rgb(67, 61, 58);
  

/* font styling */
$hFontFamily: 'Zeyada', cursive;
$h1FontSize: 3.5em;

 
$h2FontSize: 2.5em;
$h2TextAlign: center;



$pFontFamily: Arial;
$pFontSize: 1.5em;


$fColor: rgb(23, 20, 20);
