*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*-----body-----*/
body{
    background-image: url('../assets/small\ head_\ fautrier-1956.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    /*--need to work on--*/
}

/*-----nav-----*/
.navbar{
    overflow: hidden;
    background-color:rgba(173, 145, 96, 0.778);
    width: auto;
    margin: 5% 10%;
}
.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
.navbar a:hover{
    background-color: bisque;
}

/*-----heading-----*/
.headings{
    overflow: hidden; 
    background-color:rgba(173, 145, 96, 0.778);
    margin: 10% 25%;
    width: auto;
}

h1{
    text-align: center;
    font-size: 4.5em;
    font-family: cursive;
    margin: 1%;
}
 
h2,h3{
    text-align: center;
    font-size: 2.8em;
    font-family: cursive;
    margin: 1% 3%;
    padding: 1% 2%;
/*---need to work on padding and margins---*/
}

/*-----paragraph-----*/
p{
    text-align: center;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%; 

}
.solid{
    border-style: double;
    background-color: rgba(173, 145, 96, 0.778);
    padding: 1.5%;
    width: auto;
    margin: 5%;
}

/*-----images-----*/
/*---need to center images---*/
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----layout----*/
/*--do not know what to do--*/

header, section, article, aside {
    padding: 0%;
    margin: 0%;
} 